@using Astronomic_Catalogs.ViewModels
@model IList<PlanetarySystem>

@{
    var dummy = new Astronomic_Catalogs.ViewModels.PlanetarySystem();
}
<table id="sizeFilterTable" class="table table-responsive table-toFixColumns-1 table-toFixRows-1 table-fixed-headers table-set-size">
    <thead>
        <tr>
            <!-- Planetary System Info -->
            <th class="Hostname">@Html.DisplayNameFor(m => dummy.Hostname)</th>
            <th class="OtherCatalogsColumns HdName" hidden>@Html.DisplayNameFor(m => dummy.HdName)</th>
            <th class="OtherCatalogsColumns HipName" hidden>@Html.DisplayNameFor(m => dummy.HipName)</th>
            <th class="OtherCatalogsColumns TicId" hidden>@Html.DisplayNameFor(m => dummy.TicId)</th>
            <th class="OtherCatalogsColumns GaiaId" hidden>@Html.DisplayNameFor(m => dummy.GaiaId)</th>
            <th class="StarColumns StSpectype">@Html.DisplayNameFor(m => dummy.StSpectype)</th>
            <th class="StarColumns StTeff">@Html.DisplayNameFor(m => dummy.StTeff)</th>
            <th class="StarColumns StRad">@Html.DisplayNameFor(m => dummy.StRad)</th>
            <th class="StarColumns StMass">@Html.DisplayNameFor(m => dummy.StMass)</th>
            <th class="StarColumns StMet">@Html.DisplayNameFor(m => dummy.StMet)</th>
            <th class="StarColumns StMetratio">@Html.DisplayNameFor(m => dummy.StMetratio)</th>
            <th class="StarColumns StLum">@Html.DisplayNameFor(m => dummy.StLum)</th>
            <th class="StarColumns StLumSunAbsol">@Html.DisplayNameFor(m => dummy.StLumSunAbsol)</th>
            <th class="StarColumns HabitablZone">@Html.DisplayNameFor(m => dummy.HabitablZone)</th>
            <th class="StarColumns StAge">@Html.DisplayNameFor(m => dummy.StAge)</th>
            <th class="StarColumns SyDist">@Html.DisplayNameFor(m => dummy.SyDist)</th>

            <!-- Exoplanet Info -->
            <th class="PlanetColumns">Letter</th>
            <th class="PlanetColumns">Radius (Earth)</th>
            <th class="PlanetColumns">Radius (Jupiter)</th>
            <th class="PlanetColumns">Mass (Earth)</th>
            <th class="PlanetColumns">Mass (Jupiter)</th>
            <th class="PlanetColumns">Orbital Semi-Major Axis</th>
        </tr>
    </thead>
    <tbody id="catalogTableBody">
        @for (int i = 0; i < Model.Count; i++)
        {
            var system = Model[i];
            bool isFirstSystem = i == 0;

            for (int j = 0; j < system.Exoplanets.Count; j++)
            {
                var planet = system.Exoplanets[j];
                bool isFirst = (j == 0);
                string rowClass = string.Empty;
                if (!isFirstSystem && isFirst) rowClass += "thickTopBorder";

                <tr class="@rowClass">
                    <!-- Planetary System Info -->
                    <td>@system.Hostname</td>
                    <td hidden>@system.HdName</td>
                    <td hidden>@system.HipName</td>
                    <td hidden>@system.TicId</td>
                    <td hidden>@system.GaiaId</td>
                    <td>@system.StSpectype</td>
                    <td>@system.StTeff?.ToString("0.######")</td>
                    <td>@system.StRad?.ToString("0.######")</td>
                    <td>@system.StMass?.ToString("0.######")</td>
                    <td>@system.StMet?.ToString("0.######")</td>
                    <td>@system.StMetratio</td>
                    <td>@system.StLum?.ToString("0.######")</td>
                    <td>@system.StLumSunAbsol?.ToString("0.######")</td>
                    <td>@system.HabitablZone?.ToString("0.######")</td>
                    <td>@system.StAge?.ToString("0.######")</td>
                    <td>@system.SyDist?.ToString("0.######")</td>

                    <!-- Planet Info -->
                    <td>@planet.PlLetter</td>
                    <td>@planet.PlRade?.ToString("0.######")</td>
                    <td>@planet.PlRadJ?.ToString("0.######")</td>
                    <td>@planet.PlMasse?.ToString("0.######")</td>
                    <td>@planet.PlMassJ?.ToString("0.######")</td>
                    <td>@planet.PlOrbsmax?.ToString("0.######")</td>
                </tr>
            }
        }
    </tbody>
</table>