@using Newtonsoft.Json
@model IEnumerable<Astronomic_Catalogs.Entities.PlanetarySystem>
@inject Newtonsoft.Json.JsonSerializerSettings JsonSettings

@{
    ViewData["Title"] = "Planetary systems";
    ViewBag.Contorller = "PlanetarySystem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAuthenticated = User.Identity?.IsAuthenticated ?? false;

    var planetType = new List<ExtendedSelectListItem>
    {
        new ExtendedSelectListItem { Value = "1", Text = "Dwarf\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003", Value_1 = "0.04", Value_2 = "0.27" },
        new ExtendedSelectListItem { Value = "2", Text = "Mars-size\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003", Value_1 = "0.27", Value_2 = "0.7" },
        new ExtendedSelectListItem { Value = "3", Text = "Earth-size\u2003\u2003\u2003\u2003\u2003\u2003\u2003\u2003", Value_1 = "0.7", Value_2 = "1.2" },
        new ExtendedSelectListItem { Value = "4", Text = "Super-Earth\u2003\u2003\u2003\u2003\u2003\u2003\u2003", Value_1 = "1.2", Value_2 = "1.9" },
        new ExtendedSelectListItem { Value = "5", Text = "Sub-Neptune\u2003\u2003\u2003\u2003\u2003\u2003\u2003", Value_1 = "1.9", Value_2 = "3.1" },
        new ExtendedSelectListItem { Value = "6", Text = "Neptune-size\u2003\u2003\u2003\u2003\u2003\u2003", Value_1 = "3.1", Value_2 = "5.1" },
        new ExtendedSelectListItem { Value = "7", Text = "Sub-Jupiter\u2003\u2003\u2003\u2003\u2003\u2003\u2003", Value_1 = "5.1", Value_2 = "8.3" },
        new ExtendedSelectListItem { Value = "8", Text = "Jupiter-size\u2003\u2003\u2003\u2003\u2003\u2003", Value_1 = "8.3", Value_2 = "13.7" },
        new ExtendedSelectListItem { Value = "9", Text = "Super(hot)-Jupiter", Value_1 = "13.7", Value_2 = "50" }
    };

    var orderBy = new List<SelectListItem>
    {
        new ExtendedSelectListItem { Value = "0", Text = "Unsorted data" },
        new ExtendedSelectListItem { Value = "1", Text = "Closest planets (ascending distance)" },
        new ExtendedSelectListItem { Value = "2", Text = "Closest planets (descending distance)" },
        new ExtendedSelectListItem { Value = "3", Text = "Farthest planets (ascending distance)" },
        new ExtendedSelectListItem { Value = "4", Text = "Farthest planets (descending distance)" },
        new ExtendedSelectListItem { Value = "5", Text = "By largest planet size (ascending)" },
        new ExtendedSelectListItem { Value = "6", Text = "By smallest planet size (ascending)" }
    };

    var planetsCount = Enumerable.Range(1, 8).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }).ToList();

}

@section PlanetarySystemVisualization {
    <link rel="stylesheet" href="~/less/planetarySystemVisualization.min.css" asp-append-version="true" />
}


<div class="catalogPagesHeader px-3 pt-3">
    <div class="row align-items-center">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-auto ms-auto">
            <div class="d-flex flex-wrap align-items-center">
                <div class="mx-3">
                    <button type="button"
                            class="btn btn-danger btn-lg m-2 platetarySystemVisualization"
                            data-controller="@ViewBag.Contorller"
                            data-parameters="null">
                        SHOW PLANETARY SYSTEMS VISUALIZATION
                    </button>
                </div>
                <div class="mx-3">
                    <button type="button" class="btn btn-success btn-lg d-inline-block hideFilters">
                        Hide filters
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="restrictedWrapper">
        <div class="allTopMenuFilters restrictedBlock">
            <div class="row mt-0 hiddenBlock fieldsCheckBoksBlock">
                <div class="fieldsCheckBoks">
                    <h5 class="pHeader mt-2">Table columns:</h5>
                    <span>Other catalogs columns: @Html.CheckBox("OtherCatalogsColumns", false, new { @class = "check-box chb-OtherCatalogsColumns", onclick = "toggleCheckbox(this, 'OtherCatalogsColumns')" }) <span class="borderBlock pe-2">|</span></span>
                    <span>Star columns: @Html.CheckBox("StarColumns", true, new { @class = "check-box chb-StarColumns", onclick = "toggleCheckbox(this, 'StarColumns')" })                                       <span class="borderBlock pe-2">|</span></span>
                    <span>Planet columns: @Html.CheckBox("PlanetColumns", true, new { @class = "check-box chb-PlanetColumns", onclick = "toggleCheckbox(this, 'PlanetColumns')" })                               <span class="borderBlock pe-2">|</span></span>
                </div>
                <div class="marginButton">
                    <button type="button" class="btn btn-primary setDefaultValueForAllFieldsCheckBox">
                        Restore beginning fields
                    </button>
                    <button type="button" class="btn btn-primary selectAllFieldsCheckBox">
                        Show all fields
                    </button>
                    <button type="button" class="btn btn-primary deselectAllFieldsCheckBox">
                        Hide all fields
                    </button>
                </div>
            </div>

            <!---------------------------------------------------------------------->
            <!-----------------------------    FORM    ----------------------------->
            <!---------------------------------------------------------------------->
            <div class="row topMenuFiltersCatalogs">
                <div class="m-0">
                    <h5 class="pHeader mt-4">Objects filters:</h5>
                    <div class="row m-0">
                        @********************************************************************************************************@
                        <div class="col-12 col-md-4 planetFilterSizeBlock">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="mt-3 mt-md-3">
                                    <div class="w-100">
                                        <div class="d-flex justify-content-center">
                                            <span class="label fw-bold text-start">Planet syze:</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center ms-2">
                                            <span class="label text-start">
                                                <span class="me-4">Show only planets with a defined size:</span>
                                                @Html.CheckBox("PlanetWithSize", false, new { @class = "check-box chb-PlanetWithSize" })
                                            </span>
                                        </div>
                                    </div>
                                    <div class="multipleSelect chooseWhichPlanetSizes">
                                        <div class="d-flex justify-content-center mt-3">
                                            <span class="label fw-bold text-start">Choose planet sizes (default: all):</span>
                                        </div>
                                        <select class="planetTypeSelect planetTypeEnabled form-select mx-auto" name="PlanetType" multiple>
                                            @foreach (var item in planetType)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text — Size from @item.Value_1 to @item.Value_2 radius of Earth
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="tableSelect chooseWhichPlanetSizes dropdown mt-3">
                                    <button class="btn btn-secondary dropdown-toggle adjustHeightDropdownBtn w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Choose which planet sizes to show (default: all)
                                    </button>
                                    <div class="dropdown-menu p-1" style="min-width: 100%;">
                                        <table class="planetTypeSelect table table-bordered table-sm m-0">
                                            <tbody>
                                                @foreach (var item in planetType)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <input class="check-box" type="checkbox" name="PlanetType" value="@item.Value" />
                                                        </td>
                                                        <td>@item.Text — Size from @item.Value_1 to @item.Value_2 radius of Earth</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        @********************************************************************************************************@
                        <div class="col-12 col-md-7 mt-3">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6 mt-3 mt-md-0 planetarySystemLeftFilterBlock">
                                    <div class="planetarySystemNameBlock mt-3 mt-md-0">
                                        <div>
                                            <span class="label fw-bold">Planetary system name:</span>
                                            <div class="filter-fields">
                                                @Html.TextBox("Name", "", new { @class = "text-Name w-100" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="discoveredPlenetCountBlock mt-3">
                                        <div class="label fw-bold">Discovered planets in planetary systems:</div>
                                        <div class="filter-fields row">
                                            <!-- FROM -->
                                            <div class="col-6">
                                                <div class="fw-semibold">from:</div>
                                                <div class="row g-1">
                                                    <div class="col minWidth5rem">
                                                        <div class="flex-wrap">
                                                            @Html.DropDownList(
                                                            "DiscoveredPlenetCountFom",
                                                            new SelectList(planetsCount, "Value", "Text", "1"),
                                                            new { @class = "form-select", id = "discoveredPlenetCountFom", data_default = "1" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- TO -->
                                            <div class="col-6">
                                                <div class="fw-semibold">to:</div>
                                                <div class="row g-1">
                                                    <div class="col minWidth5rem">
                                                        <div class="flex-wrap">
                                                            @Html.DropDownList(
                                                            "DiscoveredPlenetCountTo",
                                                            new SelectList(planetsCount, "Value", "Text", "8"),
                                                            new { @class = "form-select", id = "discoveredPlenetCountTo", data_default = "8" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                @********************************************************************************************************@
                                <div class="col-12 col-md-6 col-lg-6">
                                    @if (User.IsInRole("OwnerAdministratorPower"))
                                    {
                                        <div class="mt-3 mt-md-0">
                                            <span class="label fw-bold">Sort planetary systems by:</span>
                                            <div class="col minWidth5rem">
                                                <div class="flex-wrap">
                                                    @Html.DropDownList(
                                                    "OrderBy",
                                                                                                new SelectList(orderBy, "Value", "Text", "0"),
                                                                                                new { @class = "form-select", id = "exoplanetOrderby", data_default = "0" })
                                            </div>
                                        </div>
                                    </div>
                                                                        }

                                    <!-- Habitable zone -->
                                    <div class="habitableZoneBlock mt-3">
                                        <div class="d-flex mt-3">
                                            <span class="label fw-bold">Habitable zone:</span>
                                        </div>

                                        <div class="row">
                                            <div class="row">
                                                <div class="col habitableZoneTextColuns">
                                                    <span class="habitableZoneAllPalanetText">Systems with habitable zone planets:</span>
                                                </div>
                                                <div class="col">
                                                    <span>@Html.CheckBox("HabitableZonePlanets", false, new { @class = "check-box chb-habitableZonePlanets ms-2" })</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col habitableZoneTextColuns">
                                                    <span class="habitableZoneTerrestrialPalanetText">Systems with terrestrial planets:</span>
                                                </div>
                                                <div class="col">
                                                    <span>@Html.CheckBox("TerrestrialHabitableZonePlanets", false, new { @class = "check-box chb-terrestrialHabitableZonePlanets ms-2" }) </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @********************************************************************************************************@
                    </div>
                </div>


                <div class="mt-0 additionalBlock">
                    <h5 class="pHeader mt-4">Additional:</h5>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-wrap align-items-center">
                                <h6 class="pe-2">Number of elements on the page:</h6>
                                @Html.DropDownList(
                                "RowOnPageCatalog",
                                                                new SelectList(new string[] { "10", "20", "30", "50", "100" }, "100"),
                                                                new { @id = "RowOnPageCatalog", @required = "true", @data_default = "100", @class = "form-select RowOnPageCatal" })
                            </div>
                        </div>
                        @if (User.IsInRole("OwnerAdministratorPower"))
                        {
                            <div class="col">
                                <div class="d-flex flex-wrap">
                                    <div class="me-3">Switch table type:</div>
                                    <label class="switchButton switchButtonMonoColor switchTableType">
                                        <input type="checkbox" checked>
                                        <span class="slider sliderMonoColor"></span>
                                    </label>
                                </div>
                            </div>
                        }
                        <div class="col">
                            <div class="d-flex flex-wrap">
                                <div class="me-3">Use dynamic scaling for the axis:</div>
                                <label class="switchButton switchButtonDualColor dynamicScalingAxis">
                                    <input type="checkbox" checked>
                                    <span class="slider sliderDualColor"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-wrap">
                                <div class="me-3">Show Solar System:</div>
                                <label class="switchButton switchButtonDualColor showSolarSystem">
                                    <input type="checkbox" checked>
                                    <span class="slider sliderDualColor"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-wrap">
                                <div class="me-3">Show Jupiter System:</div>
                                <label class="switchButton switchButtonDualColor showJupiterSystem">
                                    <input type="checkbox" checked>
                                    <span class="slider sliderDualColor"></span>
                                </label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex flex-wrap">
                                <div class="me-3">Show Earth System:</div>
                                <label class="switchButton switchButtonDualColor showEarthSystem">
                                    <input type="checkbox" checked>
                                    <span class="slider sliderDualColor"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marginButton">
                    <button type="button" id="" class="btn btn-danger applyFiltersBtn m-2" data-controller="@ViewBag.Contorller">
                        APPLY FILTERS
                    </button>
                    <button type="button" class="btn btn-primary m-2" onclick="resetAllFilters()">
                        Reset all filters
                    </button>
                </div>
            </div>
            <!------------------------------------------------------------------------>
            <!-----------------------------   END FORM   ----------------------------->
            <!------------------------------------------------------------------------>

        </div>
    </div>



    <div id="paginationBodyBlockContainer">
        @await Html.PartialAsync("_PaginationLine")
    </div>

</div>


<div id="planetsSystemTableContainer" class="twoPlanetarySystemTable hideShowColumnTable hiddenBlockContent">
    @await Html.PartialAsync("_PlanetarySystemTable", Model) @* Or _PlanetarySystemTableInGroups or _PlanetarySystemVisualizationBase *@
</div>

<script>
    window.isAuthenticated = @(isAuthenticated.ToString().ToLower());
</script>

@section ScriptsAstroTableFilters {
    <script src="~/js/AstroTableFilters.min.js" asp-append-version="true"></script>
}
@section ScriptsCalendarHandler {
    <script src="~/js/calendarHandler.min.js" asp-append-version="true"></script>
}
@section ScriptsFormHandler {
    <script src="~/js/formHandler.min.js" asp-append-version="true"></script>
}
@section ScriptsPlanetarySystem {
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="~/js/planetarySystemVisualization.min.js" type="module" asp-append-version="true"></script>
    <script src="~/js/switchTableType.min.js" asp-append-version="true"></script>
}
