@model Astronomic_Catalogs.Models.NASAExoplanetCatalog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NASAExoplanetCatalog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hostname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hostname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GaiaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GaiaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SySnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SySnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyMnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyMnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CbFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CbFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscoveryMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscoveryMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscRefName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscRefName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscPubDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscPubDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscLocale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscLocale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscFacility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscFacility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscTelescope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscTelescope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscInstrument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscInstrument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RvFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RvFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PulFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PulFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PtvFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PtvFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TranFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TranFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AstFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AstFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObmFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObmFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MicroFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MicroFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtvFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtvFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImaFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImaFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DkinFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DkinFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlControvFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlControvFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRefName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRefName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbPerErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbPerErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbPerErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbPerErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbPerLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbPerLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbSmax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbSmax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbSmaxErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbSmaxErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbSmaxErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbSmaxErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbSmaxLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbSmaxLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRadeErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRadeErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRadeErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRadeErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRadeLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRadeLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRadJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRadJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRadJErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRadJErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRadJErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRadJErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRadJLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRadJLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMasseErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMasseErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMasseErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMasseErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMasseLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMasseLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMassJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMassJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMassJErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMassJErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMassJErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMassJErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMassJLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMassJLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMsiniE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMsiniE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMsiniEErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMsiniEErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMsiniEErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMsiniEErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMsiniELim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMsiniELim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMsiniJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMsiniJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMsiniJErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMsiniJErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMsiniJErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMsiniJErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlMsiniJLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlMsiniJLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlCMasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlCMasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlCMasseErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlCMasseErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlCMasseErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlCMasseErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlCMasseLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlCMasseLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlCMassJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlCMassJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlCMassJErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlCMassJErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlCMassJErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlCMassJErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlCMassJLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlCMassJLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmasseErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmasseErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmasseErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmasseErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmasseLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmasseLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmassJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmassJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmassJErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmassJErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmassJErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmassJErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmassJLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmassJLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlBmassProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlBmassProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlDens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlDens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlDensErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlDensErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlDensErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlDensErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlDensLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlDensLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbEccen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbEccen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbEccenErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbEccenErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbEccenErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbEccenErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbeccenLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbeccenLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlInsol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlInsol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlInsolErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlInsolErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlInsolErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlInsolErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlInsolLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlInsolLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlEqt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlEqt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlEqtErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlEqtErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlEqtErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlEqtErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlEqtLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlEqtLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbincl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbincl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbinclErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbinclErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbinclErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbinclErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbinclLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbinclLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTranmid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTranmid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTranmidErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTranmidErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTranmidErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTranmidErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTranmidLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTranmidLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTsystemref)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTsystemref)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtvFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtvFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlImppar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlImppar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlImpparErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlImpparErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlImpparErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlImpparErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlImpparLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlImpparLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrandep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrandep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrandepErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrandepErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrandepErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrandepErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrandepLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrandepLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrandur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrandur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrandurErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrandurErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrandurErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrandurErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrandurLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrandurLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRatdor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRatdor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRatdorErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRatdorErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRatdorErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRatdorErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRatdorLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRatdorLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRatror)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRatror)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRatrorErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRatrorErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRatrorErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRatrorErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRatrorLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRatrorLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOccdep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOccdep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOccdepErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOccdepErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOccdepErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOccdepErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOccdepLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOccdepLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbtper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbtper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbtperErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbtperErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbtperErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbtperErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrbtperLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrbtperLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrblper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrblper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrblperErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrblperErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrblperErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrblperErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlOrblperLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlOrblperLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRvamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRvamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRvampErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRvampErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRvampErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRvampErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlRvampLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlRvampLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlProjobliq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlProjobliq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlProjobliqErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlProjobliqErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlProjobliqErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlProjobliqErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlProjobliqLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlProjobliqLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrueobliq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrueobliq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrueobliqErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrueobliqErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrueobliqErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrueobliqErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlTrueobliqLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlTrueobliqLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRefname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRefname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StSpectype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StSpectype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTeff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTeff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTeffErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTeffErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTeffErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTeffErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTeffLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTeffLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRadErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRadErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRadErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRadErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRadLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRadLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMassErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMassErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMassErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMassErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMassLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMassLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMetErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMetErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMetErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMetErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMetLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMetLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StMetratio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StMetratio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLumErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLumErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLumErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLumErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLumLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLumLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLogg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLogg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLoggErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLoggErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLoggErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLoggErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLoggLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLoggLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StAgeErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StAgeErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StAgeErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StAgeErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StAgeLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StAgeLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StDens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StDens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StDensErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StDensErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StDensErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StDensErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StDensLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StDensLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StVsin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StVsin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StVsinErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StVsinErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StVsinErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StVsinErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StVsinLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StVsinLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRotp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRotp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRotpErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRotpErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRotpErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRotpErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRotpLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRotpLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRadv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRadv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRadvErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRadvErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRadvErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRadvErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StRadvLim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StRadvLim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyRefName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyRefName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rastr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rastr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decstr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decstr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPmErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPmErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPmErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPmErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPmRa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPmRa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPmRaErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPmRaErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPmRaErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPmRaErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPmDec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPmDec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPmDecErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPmDecErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPmDecErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPmDecErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyDist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyDist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyDistErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyDistErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyDistErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyDistErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPlx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPlx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPlxErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPlxErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyPlxErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyPlxErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyBmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyBmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyBmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyBmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyBmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyBmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyVmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyVmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyVmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyVmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyVmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyVmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyJmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyJmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyJmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyJmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyJmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyJmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyHmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyHmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyHmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyHmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyHmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyHmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyKmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyKmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyKmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyKmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyKmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyKmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyUmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyUmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyUmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyUmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyUmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyUmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyGmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyGmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyGmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyGmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyGmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyGmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyRmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyRmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyRmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyRmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyRmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyRmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyImag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyImag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyImagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyImagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyImagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyImagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyZmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyZmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyZmagErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyZmagErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyZmagErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyZmagErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW1mag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW1mag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW1magErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW1magErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW1magErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW1magErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW2mag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW2mag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW2magErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW2magErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW2magErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW2magErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW3mag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW3mag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW3magErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW3magErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW3magErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW3magErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW4mag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW4mag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW4magErr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW4magErr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyW4magErr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyW4magErr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyGaiaMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyGaiaMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyGaiamagerr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyGaiamagerr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyGaiamagerr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyGaiamagerr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyIcmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyIcmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyIcmagerr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyIcmagerr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyIcmagerr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyIcmagerr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyTmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyTmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyTmagerr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyTmagerr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyTmagerr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyTmagerr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyKepmag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyKepmag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyKepmagerr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyKepmagerr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SyKepmagerr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SyKepmagerr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rowupdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rowupdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlPubdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlPubdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Releasedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Releasedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlNnotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlNnotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StNphot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StNphot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StNrvc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StNrvc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StNspec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StNspec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlNespec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlNespec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlNtranspec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlNtranspec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlNdispec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlNdispec)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
