@{
    int rowOnPageCatalog = Convert.ToInt32(ViewBag.RowOnPageCatalog == null ? 50 : ViewBag.RowOnPageCatalog);
    int amountRowsResult = Convert.ToInt32(ViewBag.AmountRowsResult == null ? 1 : ViewBag.AmountRowsResult);
    int pageNumber = Convert.ToInt32(ViewBag.PageNumber == null ? 1 : ViewBag.PageNumber);
    int pageCount = (int)Math.Ceiling((double)amountRowsResult / rowOnPageCatalog);
    pageNumber = pageNumber > pageCount ? pageCount : pageNumber;
    string controller = ViewBag.Contorller;
}

<div class="paginationBodyBlock">
    <div value="0" hidden>0</div>
    <input class="ActualPegeNumber1" type="hidden" value="1" />
    @for (var i = 1; i <= pageCount; i++)
    {
        @if (i != pageNumber)
        {
            <div class="page_@i paginationCell d-inline-block" value="@i" data-controller="@controller">
                @i <span class="borderBlock">|</span>
            </div>
        }
        else
        {
            @if (rowOnPageCatalog != 500)
            {
                <div class="page_@i paginationCell d-inline-block" value="@i" data-controller="@controller">
                    <span class="currentPage">@i</span>
                    <span class="borderBlock">|</span>
                </div>
            }
            else
            {
                <div class="page_@i paginationCell d-inline-block" value="@i" data-controller="@controller">
                    <span class="currentPage">@i</span>
                    <span class="borderBlock">|</span>
                    <span>Row in result: @amountRowsResult</span>
                </div>
            }
        }
    }
</div>

