@model Astronomic_Catalogs.Models.CollinderCatalog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h3>Collinder catalog.</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOtherCat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOtherCat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constellation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constellation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightAscension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightAscension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightAscensionH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightAscensionH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightAscensionM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightAscensionM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightAscensionS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightAscensionS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Declination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Declination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclinationD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclinationD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclinationM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclinationM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclinationS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclinationS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppMagFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppMagFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountStars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountStars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountStarsToFinding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountStarsToFinding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AngDiameterOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AngDiameterOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AngDiameterNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AngDiameterNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
