@model IEnumerable<Astronomic_Catalogs.Models.NGCICOpendatasoft>

@foreach (var item in Model)
{
    <tr>
        <td>
            <div>@item.NGC_IC @item.Name</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubObject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Messier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_UK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherNames)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.NGC)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.IC)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.LimitAngDiameter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AngDiameter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectTypeAbrev)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.ObjectType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectTypeFull)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.SourceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RA)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.RightAscension)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.RightAscensionH)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.RightAscensionM)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.RightAscensionS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEC)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.Declination)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.NS)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.DeclinationD)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.DeclinationM)
        </td hidden>
        <td hidden>
            @Html.DisplayFor(modelItem => item.DeclinationS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Constellation)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.MajorAxis)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.MinorAxis)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.PositionAngle)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.AppMag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.AppMagFlag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.BMag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.VMag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.JMag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.HMag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.KMag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurfaceBrightness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HubbleOnlyGalaxies)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.CstarUMag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.CstarBMag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.CstarVMag)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.CstarNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommonNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NedNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenngcNotes)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.PageNumber)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.PageCount)
        </td>
        @if (User.IsInRole("OwnerAdministratorPower"))
        {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        }
    </tr>
}