@model Astronomic_Catalogs.Models.NGCICOpendatasoft

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NGCICOpendatasoft</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NGC_IC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NGC_IC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubObject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubObject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Messier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Messier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_UK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_UK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NGC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NGC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectTypeAbrev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectTypeAbrev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectTypeFull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectTypeFull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightAscension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightAscension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightAscensionH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightAscensionH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightAscensionM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightAscensionM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightAscensionS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightAscensionS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Declination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Declination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclinationD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclinationD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclinationM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclinationM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclinationS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclinationS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constellation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constellation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MajorAxis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MajorAxis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinorAxis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinorAxis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionAngle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionAngle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppMagFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppMagFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurfaceBrightness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurfaceBrightness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HubbleOnlyGalaxies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HubbleOnlyGalaxies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CstarUMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CstarUMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CstarBMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CstarBMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CstarVMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CstarVMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CstarNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CstarNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NedNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NedNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenngcNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenngcNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
