@model IEnumerable<Astronomic_Catalogs.Models.SourceType>

@{
    ViewData["Title"] = "Source type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"] catalog.</h1>

@if (User.IsInRole("OwnerAdministratorPower"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meaning)
            </th>
            @if (User.IsInRole("OwnerAdministratorPower"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meaning)
                </td>
                @if (User.IsInRole("OwnerAdministratorPower"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
