@model Astronomic_Catalogs.Models.AspNetRoleClaim

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Role Claim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
