@model IEnumerable<Astronomic_Catalogs.Models.AspNetUserLogin>

@{
    ViewData["Title"] = "User Logins";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>User Logins</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderDisplayName) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginProvider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderDisplayName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-loginProvider="@item.LoginProvider" asp-route-providerKey="@item.ProviderKey">Edit</a> | 
                    <a asp-action="Details" asp-route-loginProvider="@item.LoginProvider" asp-route-providerKey="@item.ProviderKey">Details</a> | 
                    <a asp-action="Delete" asp-route-loginProvider="@item.LoginProvider" asp-route-providerKey="@item.ProviderKey">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
