@model IEnumerable<Astronomic_Catalogs.Models.Constellation>

@{
    ViewData["Title"] = "Constellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="catalogPagesHeader">
    <h1>@ViewData["Title"] catalog</h1>

    @if (User.IsInRole("OwnerAdministratorPower"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
</div>

<table class="table table-responsive table-toFixColumns-1 table-toFixRows-1 table-fixed-headers table-set-size">
    <thead>
        <tr class="tr-oun-style">
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatineNameNominativeCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatineNameGenitiveCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UkraineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberStars)
            </th>
            @if (User.IsInRole("OwnerAdministratorPower"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LatineNameNominativeCase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LatineNameGenitiveCase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UkraineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberStars)
                </td>
                @if (User.IsInRole("OwnerAdministratorPower"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ShortName">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ShortName">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ShortName">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
