@model IEnumerable<Astronomic_Catalogs.Models.Connection.ActualDate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActualDateProperty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualDateProperty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary myClass" style="margin: 0.5rem" onclick="CallStoreProcedureADO()" value="">
    Виклик збереженої процедури GETACTUALDATE() через ADO.
</button>

<button type="button" class="btn btn-primary myClass" style="margin: 0.5rem" onclick="CallStoreProcedureEF()" value="">
    Виклик збереженої процедури GETACTUALDATE() через EF.
</button>
