@model Astronomic_Catalogs.Models.AspNetRole

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AspNetRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcurrencyStamp)
        </dd>
        <dt class="col-sm-2">Claims</dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.RoleClaims.Select(c => c.ClaimType))
        </dd>
        <dt class="col-sm-2">Users</dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.UserRoles.Select(ur => ur.User.UserName))
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
</div>